<!--include header-->
<%-include('include/_header')%>
<!--/include header-->

    <!--Main site-->
    <main id="site-main">
        <div class="container">
            
            <div class="box-nav d-flex justify-content">
                <div class="box">
                    <div class="container-1">
                        <form action="/search" method="GET">
                          <input type="search" id="search" name="keyword" placeholder="Cari Disini....." />
                          <input type="submit" value="Cari">



                <% if(role == 'Operator'){ %>
                <a href="http://localhost:3000/api/export/users.xlsx" class="border-shadow">
                    <span class="text-gradient">Export ALL <i class="fa-solid fa-download"></i></span>
                </a>
                <% } %>
                <a href='/logout' class="border-shadow">
                    <span class="text-gradient">Logout <i class="fa-solid fa-right-from-bracket"></i></span>
                </a>
            </form>
            </div>
        </div>
         
            </div>
        </div>


        <!--form handling-->
        <form action="/"method = "GET">
            <table class="table" style="margin-left:auto;margin-right:auto">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>No Registrasi</th>
                        <th>Nama</th>
                        <th>TTL</th>
                        <th>Usia</th>
                        <th>Jenis Kelamin</th>
                        <th>No. KTP</th>
                        <th>No HP</th>
                        <th>Hasil SWAB</th>
                        <th>tanggal Daftar</th>
                        <th>action</th>
                    </tr>
                </thead>
                <tbody>
                   <%-include('include/_show')%>
                </tbody>

            </table>
        
            <% if (pages > 0) { %>
                <ul class="pagination text-center">
                    <% if (current == 1) { %>
                        <li class="disabled"><a>First</a></li>
                    <% } else { %>
                        <li><a href="/index/1">First</a></li>
                    <% } %>
                    <% if (Number(current) - 1 > 0) { %>
                        <li><a href="/index/<%= Number(current) - 1 %>">Prev</a></li>
                    <% } %>
                    <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                    <% if (i !== 1) { %>
                        <li class="disabled"><a>...</a></li>
                    <% } %>
                    <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                        <% if (i == current) { %>
                            <li class="active"><a><%= i %></a></li>
                        <% } else { %>
                            <li><a href="/index/<%= i %>"><%= i %></a></li>
                        <% } %>
                        <% if (i == Number(current) + 4 && i < pages) { %>
                            <li class="disabled"><a>...</a></li>
                        <% } %>
                    <% } %>
                    <% if (Number(current) + 1 <= pages) { %>
                        <li><a href="/index/<%= Number(current) + 1 %>">Next</a></li>
                    <% } %>
                    <% if (current == pages) { %>
                        <li class="disabled"><a>Last</a></li>
                    <% } else { %>
                        <li><a href="/index/<%= pages %>">Last</a></li>
                    <% } %>
                </ul>
            <% } %>
    </form>

  
    </div>
    </main>    
    <!--/Main site-->
        

<!--include footer-->
<%-include('include/_footer')%>
<!--/include footer-->