<!--include header-->
<%-include('include/_header')%>
<!--/include header-->

    <!--Main site-->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-content">
                <div class="filter">
                    <a href="/"><i class="fa-solid fa-angles-left"></i>All user</a>
                </div>
            </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Update User</h2>
            <span class="text-light">Use the below form to Update an account</span>
        </div>
        <!--form handling-->
        <form action="/api/users/<%= user._id %>" method = "POST" id="update_user">
            <div class="card " style="width: 75%; margin: auto; margin-top: 4em; " >
            <table class="table table-condensed" style="margin-left: auto; margin-right: auto;">
            <div class="new_user">
                <% switch (role) {
                    case 'Operator' : %>
                <div class="form-group">
                <label for="">Nama :</label>
                <input type="hidden" name="id" value="<%= user._id %>">
                <input type="text" name="nama" value="<%= user.nama %>" placeholder="username">
              </div>
              <% break;
            case 'Analis' : %>
            <tbody>
                <td>Nama</td>
                <td>=</td> 
                <td><%= user.nama %> </td>
             </tbody>
              <% break;
        } %>
  
        <% switch (role) {
            case 'Operator' : %>
            <div class="form-group">
                <label for="">Jenis Kelamin : </label>
                  <input type="radio" name="jenisKelamin" value="laki-laki" <%= user.jenisKelamin == 'laki-laki'?'checked' : '' %> >
                  <label class="radio inline" >Laki - Laki</label>
                  <input type="radio" name="jenisKelamin" value="perempuan" <%= user.jenisKelamin == 'perempuan'?'checked' : '' %> >
                  <label class="radio inline">Perempuan</label>
                </div>
                <% break;
                case 'Analis' : %>
                <tbody>
                    <td>Jenis Kelamin</td>
                    <td>  = </td> 
                    <td><%= user.jenisKelamin %></td>
                </tbody>
                  <% break;
                } %>

                <% switch (role) {
                  case 'Operator' : %>
                <div class="form-group">
                  <label for="">Tempat Lahir :</label>
                  <input type="text" name="tempatlahir" value="<%= user.tempatlahir %>" class="form-control"  required>
              </div>
              <% break;
            case 'Analis' : %>
            <tbody>
              <td> Tempat Lahir </td>
              <td> = </td>
              <td> <%= user.tempatlahir %></td>
            </tbody>
              <% break;
            } %>

                <% switch (role) {
                    case 'Operator' : %>
              <div class="form-group">
                <label for="">Tanggal Lahir :</label>
                <input type="date" name="TTL" value="<%= newDate %>">
            </div>
              <% break;
            case 'Analis' : %>
            <tbody>
              <td> Tanggal Lahir </td>
              <td> = </td>
              <td> <%= user.TTL %></td>
            </tbody>
              <% break;
            } %>

            <% switch (role) {
                case 'Operator' : %>
            <div class="form-group">
              <label for="">Usia :</label>
              <input type="number" name="usia" value="<%= user.usia %>" >
          </div>
          <% break;
          case 'Analis' : %>
          <tbody>  
           <td> Usia </td> 
          <td> = </td> 
          <td> <%= user.usia %></td>
        </tbody>  
          <% break;
        } %>

          <% switch (role) {
            case 'Operator' : %>
            <div class="form-group">
                <label for="">No ktp :</label>
                <input type="number" name="noktp" value="<%= user.noktp %>"
                oninput="if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                type = "number"
                maxlength = "16">
            </div>
            <% break;
            case 'Analis' : %>
            <tbody>
             <td> No KTP </td>
             <td> = </td>
             <td> <%= user.noktp %></td>
            </tbody>
              <% break;
            } %>

            <% switch (role) {
                case 'Operator' : %>
            <div class="form-group">
                <label for="">Alamat :</label>
                <input type="text" name="alamat" value="<%= user.alamat %>">
            </div>
            <% break;
            case 'Analis' : %>
            <tbody>
              <td> Alamat </td>
              <td> = </td>
              <td> <%= user.alamat %></td>
            </tbody>
              <% break;
            } %>

            <% switch (role) {
                case 'Operator' : %>
            <div class="form-group">
                <label for="">No Hp :</label>
                <input type="tel" name="nohp" value="<%= user.nohp %>" 
                minlength = "10"
                 required>
            </div>
            <% break;
            case 'Analis' : %>
            <tbody>
             <td> NO HP </td>
             <td> = </td>
             <td> <%= user.nohp %> </td>
            </tbody>
              <% break;
            } %>

            <% switch (role) {
                case 'Operator' : %>
            <div class="form-group">
                <label for="">Email :</label>
                <input type="email" name="email" value="<%= user.email %>">
            </div>
            <% break;
            case 'Analis' : %>
            <tbody>
             <td> EMAIL</td>
             <td> = </td>
             <td> <%= user.email %></td>
            </tbody> 
             <% break;
            } %>

            <% switch (role) {
                case 'Operator' : %>
            <div class="form-group">
              <label for="keluhan">Keluhan : </label>
              <div class="checkbox inline">
                <input type="checkbox" name="keluhan" value="Demam" <%= user.keluhan.includes('Demam') ? 'checked' : '' %>>
                <label for="keluhan">Demam</label>
            </div>
              <div class="checkbox inline">
                  <input type="checkbox" name="keluhan" value="Batuk" <%= user.keluhan.includes('Batuk') ? 'checked' : '' %>>
                  <label for="keluhan">Batuk</label>
              </div>
              <div class="checkbox inline">
                  <input type="checkbox" name="keluhan" value="Pilek" <%= user.keluhan.includes('Pilek') ? 'checked' : '' %>>
                  <label for="keluhan">Pilek</label>
              </div>
              <div class="checkbox inline">
                  <input type="checkbox" name="keluhan" value="Sakit Tenggorokan" <%= user.keluhan.includes('Sakit Tenggorokan') ? 'checked' : '' %>>
                  <label for="keluhan">Sakit Tenggorokan</label>
              </div>
              <div class="checkbox inline">
                  <input type="checkbox" name="keluhan" value="Sesak" <%= user.keluhan.includes('Sesak') ? 'checked' : '' %>>
                  <label for="keluhan">Sesak</label>
              </div>
              <div class="checkbox inline">
                  <input type="checkbox" name="keluhan" value="Menggigil" <%= user.keluhan.includes('Menggigil') ? 'checked' : '' %>>
                  <label for="keluhan">Menggigil</label>
              </div>
              <div class="checkbox inline">
                  <input type="checkbox" name="keluhan" value="Pusing" <%= user.keluhan.includes('Pusing') ? 'checked' : '' %>>
                  <label for="keluhan">Pusing </label>
              </div>
              <div class="checkbox inline">
                  <input type="checkbox" name="keluhan" value="Mual" <%= user.keluhan.includes('Mual') ? 'checked' : '' %>>
                  <label for="keluhan">Mual</label>
              </div>
              <div class="checkbox inline">
                  <input type="checkbox" name="keluhan" value="Muntah" <%= user.keluhan.includes('Muntah') ? 'checked' : '' %>>
                  <label for="keluhan">Muntah</label>
              </div>
              <div class="checkbox inline">
                  <input type="checkbox" name="keluhan" value="Diare" <%= user.keluhan.includes('Diare') ? 'checked' : '' %>>
                  <label for="keluhan">Diare</label>
              </div>

              <div class="checkbox inline">
                <input type="text" name="Lainnya" value="<%= user.keluhan %>" placeholder="Lainnya">  
            </div>
              
          </div>
          <% break;
          case 'Analis' : %>
          
           <td> Keluhan </td>
           <td> = </td>
           <td> <%= user.keluhan %></td>
        </tbody>
            <% break;
        } %>
            
          <% switch (role) {
            case 'Operator' : %>
          <div class="form-group">
            <label for="penyakit">Penyakit Penyerta : </label>
            <div class="checkbox inline">
                <input type="checkbox" name="penyakit" value="Diabetes" <%= user.penyakit.includes('Diabetes') ? 'checked' : '' %>>
                <label for="penyakit">Diabetes</label>
            </div>
            <div class="checkbox inline">
                <input type="checkbox" name="penyakit" value="Jantung" <%= user.penyakit.includes('Jantung') ? 'checked' : '' %>>
                <label for="penyakit">Jantung</label>
            </div>
            <div class="checkbox inline">
                <input type="checkbox" name="penyakit" value="Hipertensi" <%= user.penyakit.includes('Hipertensi') ? 'checked' : '' %>>
                <label for="penyakit">Hipertensi</label>
            </div>
            <div class="checkbox inline">
                <input type="checkbox" name="penyakit" value="Ginjal" <%= user.penyakit.includes('Ginjal') ? 'checked' : '' %>>
                <label for="penyakit">Ginjal</label>
            </div>
            <div class="checkbox inline">
                <input type="checkbox" name="penyakit" value="Keganasan" <%= user.penyakit.includes('Keganasan') ? 'checked' : '' %>>
                <label for="penyakit">Keganasan</label>
            </div>
            <div class="checkbox inline">
                <input type="checkbox" name="penyakit" value="PPOK" <%= user.penyakit.includes('PPOK') ? 'checked' : '' %>>
                <label for="penyakit" >PPOK (Penyakit Paru Obstruktif Kronis)</label>
            </div>  
            <div class="checkbox inline">
              <input type="text" name="Lainnya" value="<%= user.penyakit %>" placeholder="Lainnya">  
          </div>
        </div>
        <% break;
        case 'Analis' : %>
        <tbody>
         <td> Penyakit Penyerta </td>
         <td> = </td>
         <td> <%= user.penyakit %></td>
        </tbody>
          <% break;
        } %>

        <% switch (role) {
          case 'Operator' : %>
          <div class="form-group">
            <label for="">Kode Referensi :</label>
            <input type="text" name="kodereferensi" value="<%= user.kodereferensi %>" class="form-control">
        </div>
      <% break;
    case 'Analis' : %>
    <tbody>
      <td> Kode Referensi </td>
      <td> = </td>
      <td> <%= user.kodereferensi %></td>
    </tbody>
      <% break;
    } %>


    <% switch (role) {
      case 'Analis' : %>     
      <div class="form-group">
        <tbody>
        <td><label for="">Suhu Badan <td> =</td> </label></td>
        <td><input type="number" name="suhu" value="<%= user.suhu %>" class="form-control" onchange="setNumberDecimal" min="0" max="50" step="0.1" value="00.0" /></td>
      </tbody>
    </div>

    <% break;
    case 'Operator' : %>
    
     <b> Suhu Badan = <%= user.suhu %></b>

      <% break;
    } %> <br><br>


    
        <% switch (role) {
            case 'Analis' : %>     
            
            <div class="form-group">
                <tbody>
               <td> <label for="">Hasil Swab TEST <td> =</td> </label></td>
               <td> <input type="radio" name="hasil" value="POSITIF" <%= user.hasil == 'POSITIF'?'checked' : '' %>>
               <label class="radio inline">POSITIF </label><br>

                <input type="radio" name="hasil" value="NEGATIF" <%= user.hasil == 'NEGATIF'?'checked' : '' %>>
                <label class="radio inline">NEGATIF </label><br>

                <input type="radio" name="hasil" value="INVALID" <%= user.hasil == 'INVALID'?'checked' : '' %>>
                <label class="radio inline">INVALID </label></td>
            </tbody>
            </div>

            <% break;
            case 'Operator' : %>
              <b>Hasil SWAB TEST  =  <%= user.hasil %> </b> 
              <% break;
        } %><br><br>

        <% switch (role) {
          case 'Analis' : %>
          <tbody>    
            <td> Nama Analis </td>
            <td> = </td>
            <td> <%= username %></td>
          
        </tbody>
          <% break;
          case 'Operator' : %>
          <b>Nama Analis  =  <%= username %> </b> 
          <% break;
      } %>
   

    </table>
            <div class="form-group">
               <button type="submit" class="btn txt-dark update">SAVE</button>
            </div>
        
        </div>    

        
        </form>
        <!--/form handling-->

    </main>    
    <!--/Main site-->

<!--include footer-->
<%-include('include/_footer')%>
<!--/include footer-->